<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%=link_to "MOORGOO",root_path,id:"logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%=link_to "HOME",root_path %></li>
					<li><%=link_to "BOOKS",books_path %></li>
					<li><%=link_to "CARS",cars_path %></li>
					<li><%=link_to "HOUSE",house_path %></li>
					<li><%=link_to "FURNITURES",furnitures_path %></li>
					<li><%=link_to "ELECTRONICS",electronics_path %></li>
					<li><%=link_to "SIGN IN",'#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>